html, body {
    /* Adicioanando uma imagem de fundo e aplicando 100% ao body e html para conseguir controlar o tamanho total da tela */
    height: 100%;
    background-image: url(../images/background-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    /* Cor de fundo usando o parâmetro Alpha que controla a opacidade da cor RGB */
    background-color: rgba(0, 0, 0, 0.7);
}

#home h1 {
    font-size: 50px;
    font-family: "Cinzel Decorative";
    font-weight: 700;
    color: #a17a3a;
}

#home h4 {
    font-family: "Roboto";
    font-weight: 100;
    color: #fff;
}

#home .container {
    height: 100%;
    gap: 80px;
}

#home .option-card {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Cinzel Decorative";
    color: #c48d35;
    gap: 10px;
}

#home .option-card a {
    color: inherit;
    text-decoration: none;
}

#home .option-card h3 {
    margin-top: 15px;
    margin-bottom: 0;
}

#home .option-card:hover {
    background-color: rgba(139, 121, 88, 0.3);
    color: #c2a473;
}